div *{
    background-color: darkgreen;
    width : 150px;
    height : 150px;
    color: white;
    font-size: larger;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
}
.flex-container {
    display: flex
}