.one{
    border: 5px solid black;
    width: 500px;
    height: 500px;
    font-weight: bold;
}
.two{
    width: 100px;
    height: 100px;
    padding: 10px;
    font-weight: bold;
    background-color: tomato;
    position: sticky;
    top: 0;
    left: 50px;
}
.three{
    width: 100px;
    height: 100px;
    padding: 10px;
    font-weight: bold;
    background-color: mediumblue;
    position: fixed;
    top: 50%;
    right: 50%;
}
.four{
    width: 100px;
    height: 100px;
    padding: 10px;
    font-weight: bold;
    background-color: gold;
    position: absolute;
}
