@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
body{
    background-color: lightgrey;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
#img1{
    margin-left: 0;
}
.box1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar{  
    background-color: rgb(249, 217, 177);
    height: 80px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 9;
}
ul{
    display: inline-block;
    list-style: none;
}
li{
    background-color:  rgb(145, 236, 145);
    float: left;
    border-right: 1px solid black;
    font-weight: 500;  
}

.navbar ul li:first-child{
    border-radius: 20px 0 0 20px;
}
.navbar ul li:last-child{
    border-radius: 0 20px 20px 0;
}
a{
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
}
.container{
    display: flex;
    background-color: azure;
    width: device-width;
    position: relative;
    border: 4px solid lightgrey
}
.container{
    border-bottom: 4px solid white;
    margin-top: 80px;
}
#img2{
    float: left;
    height: 340px;
    
}
#img3{
    float: right;
    height: 340px;
}
.shop{
    color: rgb(61, 157, 236);
    font-weight: 900;
    font-size: 50px;
}
.support, .community, .shop2{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.container2{
    text-align: center;
    background-color: rgb(190, 250, 190);
    
}
.content{
    background-color:  rgb(145, 236, 145);
    width: 700px;
    text-align: center;
}
.container2 pre{
    font-weight: bold;
    font-size: xx-large;
    color:  rgb(61, 157, 236);
}
.container3{
    display: flex;
    position: relative;
    margin: 0px;
    height: 300px;
    width: device-width;
    top:-50px;
    bottom: -20px;
    }
    .container3 .one{
        height: 300px;
        width: 500px;
        background-color:  rgb(145, 236, 145);
        color: white;
        font-weight:bold;
        font-size: x-large;
        text-align: center;
    
    }
    .container3 .two{
        height: 300px;
        width: 500px;
        background-color:  rgb(61, 157, 236);
        color: white;
        font-weight:bold;
        font-size: x-large;
        text-align: center;
    }
    .container3 .three{
        height: 300px;
        width: 500px;
        background-color:  rgb(145, 236, 145);
        color: white;
        font-weight:bold;
        font-size: x-large;
        text-align: center;
    }
    .container3 .four{
        height: 300px;
        width: 500px;
        background-color:  rgb(61, 157, 236);
        color: white;
        font-weight:bold;
        font-size: x-large;
        text-align: center;
    }
#ok{
    font-weight: bold;
    color: white;
    }
#img4{
    height:500px;
    position: relative;
    top: -25px;
    margin-bottom: -30px;
    width: 100%;
}
.container4{
    text-align: center;
    background-color: rgb(249, 217, 177);
}
.container4 pre{
    font-weight: 100;
    font-size: x-large;
    color:  rgb(61, 157, 236);
    margin: 0%;
    position: relative;
    right: 50px;
    top: -10px;
}
#trade{
    color:  rgb(61, 157, 236);
    position: relative;
}
.