body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 9;
    background-color: white;
}
.unorder{
    display: inline-flex;
    list-style: none;
}
#an1,#an9{
    text-decoration: none;
    font-size: large;
    color: grey;
    padding: 20px 75px;
    border-right: 1px solid black;
}
#an1:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
#an9{
    border-right: none;
}
#an9:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
.container2{
    margin: 0%;
    padding: 0%;
    height: auto;
    width: 100%;
    position: relative;
}
.container2 img{
    height: 350px;
    width: 300px;
    margin-left: 240px;
    margin-top: -30px;
}
.container3{
    position: absolute;
    top: 0;
    color: rgb(211, 32, 32);
    margin-top: 45px;
    margin-left: 170px;
}
pre{
    font-size: 30px;
    font-weight: bolder;
    margin-top: ;
}
#para1{
    font-size: xx-large;
    color: black;
}
#bt1{
    background-color:  rgb(211, 32, 32);
    height: 50px;
    width: 220px;
    margin-left: 70px;
    cursor: pointer;
}
#an2{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#bt2{
    height: 50px;
    width: 220px;
    margin-left: 70px;
    margin-top: 15px;
} 
#an3{
    text-decoration: none;
    color: red;
    font-size: 15px;
}
#bt2:hover{
    cursor: pointer;
    background-color: red;
}
#an3:hover{
    color: white;
}
.container2{
    display: flex;
}
#img1{
    height: 650px;
    width: 700px;
}
.container4{
    margin: 0;
    margin-left: 70px
}
#img2{
    border: 80px solid rgb(194, 47, 47);
    margin-top: 40px;
}
.container4{
    display: flex;
}
#para2{
    color: red;
    font-size: 35px;
    margin-left: -180px;
    margin-top: -10px;
}
#para3{
    margin-left: -120px;
    margin-top: -120px;
    font-size: 25px
}
#video1{
    height: 300px;
    margin-left: 50px;
    margin-top: -100px;
}
#bt3{
    height: 50px;
    width: 220px;
}
#an4{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
#bt3:hover{
    cursor: pointer;
    background-color: white;
}
#an4:hover{
    color: red;
}
#bt3{
    margin-left: 350px;
}
.list1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#pre2{
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif ;
    margin-left: 40px;
}
#para4{
    font-size: large;
    font-weight: 100;
    margin-left: 40px;
}
.container6{
    
    background-color: rgb(232, 232, 216);
    padding-bottom: 40px;
    margin-top: -40px;
}
#list1{
    list-style:circle;
}
#agenda{
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 50px;
}
.container7{
    margin-top: 100px;
    margin-left: 350px;
}
#bt4{
    height: 50px;
    width: 220px;
    margin-left: 600px;
    margin-top: 10px;
    border: 1px solid red;
    color: red;
}
#bt4:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}
.main2{
    display: flex;
    justify-content: space-between;
}
.container10{
    text-align: center;
}
#para5{
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#para6{
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -30px;
}
#para7{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -40px;
}
#last{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
#para8{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -20px;
}
#bt5{
    height: 50px;
    width: 220px;
    background-color: red;
    color: white;
    font-size: large;
    border: 0px solid red;
    cursor: pointer;
    margin-left: 1200px;
    margin-bottom: 50px;
    position: fixed;
    bottom: 0;
}
