body{
    margin-left: 500px;
    background-color:khaki;
}
#para1{
    font-family: arial;
    font-size:x-large;
}
h1{
    font-family: candara ;
}
label{
    font-size: larger;
    font-family: cursive;
}
#btn1{
    cursor: pointer;
}
#showDetails{
    font-size: large;
}
#text1{
    height:100px;
    width: 300px;
}