.main-box{
    height: 400px;
    width: 1000px;
    background-color: yellow;
    margin-top: 100px;
    margin-left: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.box{
    background-color: olive;
    height: 120px;
    width: 150px;
    margin: 10px;
    text-align: center;
    color: white;
}
.box-1{
    align-self: flex-start;
}
.box-3{
    align-self: center;
}
.box-2{
    align-self: flex-start;
    margin-left: 12.5rem;
}
.box-4{
    align-self: flex-start;
    margin-left: 12.5rem;
}
.box-5{
  align-self: flex-start;
  margin-top: 30px;
}
.box-6{
    position: relative;
    top: -370px;
}
.box-7{
    position: relative;
    top: -370px;
    margin-right: 12.5rem;
}
.box-8{
    position: relative;
    top: -300px;
    margin-right: 12.5rem;
}
.box-9{
    position: relative;
    top: -280px;
}